body {
  background-color: #eeeeee;
}
.top_margined {
  margin-top: 10%;
}
.centered_text {
  text-align: center;
}
.button_width_fix {
  width: 190px;
}
.compose_buttons_margin {
  margin: 0 15px 0 15px;
}
.center_inbox {
  text-align: center;
}
