<div class="grid">
  <div class="row">
    <div class="col-md-5 compose-element">
      <input class="input-medium compose-element-topic" ng-model="topic" placeholder="Type topic..." type="text">
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 compose-element">
      <textarea class="message-text compose-element-message" ng-model="message" placeholder="Enter your message here..."></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 compose-element">
      <button class="btn btn-primary compose-element-send" name="send_message" ng-click="sendMessage()" type="button">Send</button>
    </div>
  </div>
</div>
