<div class="row" ng-controller="composeCtrl">
  <input type="text" class="u-full-width" placeholder="Type topic..." ng-model="topic">
  <textarea class="u-full-width message_box" placeholder="Enter your message here..." ng-model="message"></textarea>
  <button class="button-primary u-pull-right compose_buttons_margin" type="button" name="send_message" ng-click="sendMessage()">Send</button>
  <button class="button u-pull-right compose_buttons_margin" type="button" name="send_message" ui-sref="mail">Back</button>
</div>
